// Configuration
@import "../../node_modules/bootstrap/scss/functions";

$font-family-sans-serif: "PT Sans", sans-serif;
$green: #5B8555;

@import "variables";

@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/offcanvas";
@import "../../node_modules/bootstrap/scss/placeholders";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/utilities/api";



:root {
    --white: #ffffff;
    --black: #0000;
    --primary: #198754;
    --secondary: #6c757d;
    --light: #f8f9fa;
    --dark: #212529;
    --background: #ffffff;
    --background-alt: #dee2e6;
    --spacing: 3rem;
    --spacing-small: 1rem;
    --shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --radius-sm: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 1rem;
    @include media-breakpoint-down(md) {
        --spacing-small: 0.5rem;
        --spacing: 1.5rem;
    }
}



@import "layout";


.btn-primary {
    color: var(--white);
}

a {
    color: var(--primary);
    font-weight: 700;
}