<footer>
    <div class="container">

        <ul id="flinks">
            <li> L'école branchée sur la nature ©2024</li>
            <li>
                <a href="https://uclouvain.be/fr/facultes/psp/edef/master-en-sciences-de-l-education-fopa.html"
                    target="_blank">Master en sciences de l'éducation (FOPA)</a>
            </li>
            <li>
                <a href="https://padlet.com/horizon5saintjoseph/bo-te-id-es-branch-e-sur-nature-zsrdpgjnsjrbgt2x"
                    target="_blank">Boîte à idées (Padlet)</a>
            </li>
            <li>
                <a href="/equipe.html">Notre équipe</a>
            </li>
            <li>
                <a href="https://creativecommons.org/licenses/by/4.0/deed.fr">Licence du site: Creative Common BY
                    4.0</a>
            </li>
            <li>
                <a href="https://www.canva.com/policies/content-license-agreement/" target="_blank">Licence des photos:
                    Canva</a>
            </li>
            <li>
                <a href="https://github.com/mnokin/ecole-branche-nature" target="_blank">Code source</a>
            </li>
        </ul>
        <div id="aia" class="logo">
            <a href="https://mpeters.uqo.ca/utilisation-transparente-de-lintelligence-artificielle/"><img
                    class="img-fluid" src="images/logos/aia.webp" title="Aidé de l'intelligence articielle" /></a>
        </div>
        <div id="ucl" class="logo">
            <a href="https://uclouvain.be/" target="_blank"><img class="img-fluid bg-white"
                    src="images/logos/uclouvain.svg" title="UCLouvain" /></a>
        </div>
        <div id="ccby" class="logo">
            <a href="https://creativecommons.org/licenses/by/4.0/deed.fr" target="_blank"><img class="img-fluid"
                    src="images/logos/ccby.svg" alt="CC BY 4.0"
                    title="Creative Common Attribution 4.0 International" /></a>
        </div>
    </div>
</footer>

<script src="./js/app.js"></script>

<!-- (Optional) - Place this js code after initializing bootstrap.min.js or bootstrap.bundle.min.js -->
<script>
    var triggerEl = document.querySelector("#navId a");
    bootstrap.Tab.getInstance(triggerEl).show(); // Select tab by name
</script>