<title>{{ title }} - L’école branchée sur la nature</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<meta name="description" content="{{ ribbon }}">
<meta property="og:url" content="https://ecole-branche-nature.choum.be/{{ page }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ title }} - L’école branchée sur la nature">
<meta property="og:description" content="{{ ribbon }}">
<meta property="og:image" content="/images/ebn-opengraph.png">



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<link href="./scss/app.scss" rel="stylesheet" />

<link rel="icon" href="/images/favicons/favicon.ico" sizes="any "/>
<link rel="icon" href="/images/favicons/favicon.svg" type="image/svg+xml">
<link rel="manifest" href="/site.webmanifest">